<div class="sketchfab-embed-wrapper"></div>
    <iframe 
      frameborder="0" 
      allowfullscreen 
      mozallowfullscreen="true" 
      webkitallowfullscreen="true" 
      allow="autoplay; fullscreen; xr-spatial-tracking" 
      execution-while-out-of-viewport 
      execution-while-not-rendered 
      web-share 
      width="{{ .Get "width" | default "100%" }}" 
      height="{{ .Get "height" | default "100%" }}" 
      src="https://sketchfab.com/models/cd86faffc47d49e7b0c9261a2f51f472/embed?ui_theme={{ .Get "theme" | default "light" }}">
    </iframe>
  </div>